<%= form_for :input, url: compute_path do |f| %>
  <fieldset>
    <legend>Calculate Volumes</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Diameter: </label>
      <div class="col-lg-10">
        <%= f.text_field :diameter, class: "form-control", value: "", placeholder: "Input diameter" %><br/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
<% end %>

<script>
//   $(function() {
//     $("#submit").click(function() {
//       var diameter = $('#input[diameter]');
//       console.log(diameter);
//       $.ajax({
//         diameter: 'diameter',
//         url: '/api',
//         type: 'POST',
//         data: {diameter: diameter.val()},
//         dataType: 'json',
//         success: function(data) {
//           alert(data);
//         }
//         error: function(e, data) {
//           alert(e, data);
//         }
//       });
//     });
//   });
// </script>