<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Results</div>
    <div class="panel-body">
      <%= @value_1%> cm from water level ("Mag-ingat")<br/>
      <%= @value_2 %> cm from water level ("Mag-handa)<br/>
      <%= @value_3 %> cm from water level ("Bakwat")<br/>
    </div>
  </div>
  <%= link_to 'Back', root_path, class: 'btn btn-lg btn-default' %>
</div>

