<div class="jumbotron">
  <h1> Paano gumawa ng "improvised" Rain Gauge</h1>
  <p>
    <li>1) I-compute ang mga "grid" o linya sa iyong batya. Kasama rito ang  "tubig level" , "mang-ingat" , "mag-handa" at "bakwet"</li>
    <%= image_tag 'final.jpg' %>
    <li>2) Kapag maliit lang ang batya , maaring lagyan ito ng bato at 2 litro ng tubig  upang hindi ito tangayin ng hangin. Sukatin ang volume na nabigay ng mga bato at 2 litro ng tubig. Ito ang "tubig-level" o "zero mark" natin</li>
    <%= image_tag '2nd.jpg' %>
    <li>3) Magsukat ng volume tubig ayon sa na-compute</li>
    <%= image_tag 'tubig.jpg' %>
    <li>4) Idagdag ito sa batya , pagkatapos markahan ang batya , ulitin ito hangang magkaroon ng "mag-ingat", "mag-handa" at "bakwet" na linya ang batysa</li>
    <li>5) Iiwan ito sa labas ng bahay ng isang oras habang umuulan.</li>
    <li>6) Kunin ang batya at ikumapra sa mga linya ng batya.</li>
  </p>
</div>