<div class="jumbotron">
  <h1> What you need to make your own improvised Rain Gauge </h1>
  <p>
    <li>1) Planggana (no specific size), basta walang butas</li>
    <li>2) Plastic ruler with centimeters (best) or tapemeasure for measuring distances.</li>
    <li>3) A measuring cup (has liters or metric measure).</li>
    <li>4) Indelible marker.</li>
    <li>5) Optional: stones, to weigh down the basin.</li>
  </p>
<%= link_to 'How to create your own Rain Gauge', howto_path %><br/>
<%= link_to 'Calculate', calculate_path %><br/>
<%= link_to 'Further Actions', further_actions_path %>
</div>