<div class="container">

  <div class="panel">
    <div class="panel-body">
      <div class="col-md-10 col-md-offset-1">
        <%= render 'questions/form' %>
      </div>
    </div>
  </div>


  <div class="panel">
    <div class="panel-body">
      <div class="col-md-5 ">
      <%= image_tag("philippine-flag.jpg")%>
      </div>

      <div class="col-md-6 col-md-offset-1">
        <h1>
            Bantay Batya.
        </h1>
        <p> 
          Sa panahon ngayon, maraming kagamitan na ang na-imbento upang makapaghanda sa mga delubyo dulot ng kalikasan. Isa na rito ang ‘rain gauge’ na tumantansiya ng tubig ulan. Subalit, naging malaking suliranin ang pamamahagi nito sa mga lokal na komunidad sa liblib na bahagi ng bansa. Nais ng sangguning ito makagawa ng mga makabagong kagamitan gamit lamang ang araw-araw na kasangkapan—ang planggana.
        </p>
      </div>
    </div>
  </div>

</div>

