<div class="container">
  <%= form_for :input, url: compute_path do |f| %>
    <fieldset>
      <legend>Legend</legend>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <%= f.text_field :diameter, class: "form-control", placeholder: "Input diameter" %><br/>
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>